{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% if head %}
        <h1>{{ head }}</h1>
    {% else %}
        <h1>所有文章</h1>
    {% endif %}
    {% include '_posts.html' %}
    {% if pagination %}
        <div class="pagination">
            {% import '_pagination.html' as macros %}
            {{ macros.pagination_widget(pagination, 'main.index') }}
        </div>
    {% endif %}
{% endblock %}
{% block slider %}
    <!-- Blog Search Well -->
    <div class="well">
        <h4>检索</h4>
        <div class="input-group">
            <input type="search" class="form-control" id="input-search" name="{{ url_for('main.index') }}"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="search()">
                <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>
    <!-- Blog Categories Well -->
    <div class="well">
        <h4>随笔分类</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                {% for category in categories %}
                    <li><a href="#">{{ category }}</a></li>
                {% endfor %}
                </ul>
            </div>
<!--             <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Category Name</a></li>
                    <li><a href="#">Category Name</a></li>
                    <li><a href="#">Category Name</a></li>
                    <li><a href="#">Category Name</a></li>
                </ul>
            </div> -->
        </div>
        <!-- /.row -->
    </div>
    <!-- Side Widget Well -->
    <div class="well">
        <!-- <h4>Side Widget Well</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div> -->
{% endblock %}
{% block js %}
<script type="text/javascript">
    function search(){
        var node = document.getElementById('input-search');
        var text = node.value;
        var url = node.name;
        window.location= url + "posts/search/" + text;  //暂时先这么实现吧
    }
</script>
{% endblock %}