{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>所有文章</h1>
    {% include '_posts.html' %}
    {% if pagination %}
        <div class="pagination">
        {% import '_pagination.html' as macros %}
            {{ macros.pagination_widget(pagination, 'main.index') }}
        </div>
    {% endif %}
{% endblock %}
{% block slider %}
    <!-- Blog Search Well -->
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
        <!-- /.input-group -->
    </div>
    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="#">Category Name</a>
                </li>
                <li><a href="#">Category Name</a>
            </li>
            <li><a href="#">Category Name</a>
        </li>
        <li><a href="#">Category Name</a>
    </li>
</ul>
</div>
<div class="col-lg-6">
<ul class="list-unstyled">
    <li><a href="#">Category Name</a>
</li>
<li><a href="#">Category Name</a>
</li>
<li><a href="#">Category Name</a>
</li>
<li><a href="#">Category Name</a>
</li>
</ul>
</div>
</div>
<!-- /.row -->
</div>
<!-- Side Widget Well -->
<div class="well">
<h4>Side Widget Well</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
</div>
{% endblock %}