<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
            <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
            <title>{% block title %}Blog Post - Start Bootstrap Template{% endblock %}</title>
            <!-- Bootstrap Core CSS -->
            <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Custom CSS -->
            <link href="{{ url_for('static', filename='css/blog-post.css') }}" rel="stylesheet">
            <!-- highlight for code -->
            <link href="{{ url_for('static', filename='css/solarized_dark.css') }}" rel="stylesheet">
            {% block css %}{% endblock %}
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body>
        <!-- Navigation -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('auth.index') }}">NovBlog</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">账户<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('auth.user_profile', username=current_user.username) }}">个人信息</a></li>
                                <li><a href="{{ url_for('auth.edit_profile', username=current_user.username) }}">个人设置</a></li>
                            </ul>
                        </li>
                        {% if g.identity.allow_edit %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">文章<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url_for('auth.new_post', username=current_user.username) }}">新建博客</a></li>
                                    <li><a href="{{ url_for('auth.manage_post', username=current_user.username) }}">我的随笔</a></li>
                                    <li><a href="{{ url_for('auth.draft_post', username=current_user.username) }}">草稿箱</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        {% if g.identity.allow_admin %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">管理员<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url_for('auth.admin') }}">test_admin</a></li>
                                    <li><a href="#">###</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                        {% else %}
                            <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </div>
        <!-- Page Content -->
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <!-- Blog Post Content Column -->
                <div class="col-lg-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        <!-- /.row -->
            {% block post %}
            {% endblock %}
            <!-- Footer -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <p class="copyright text-muted text-center">Copyright &copy; NovBlog 2016</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/lib/highlight.pack.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('pre').each(function (i, block) {
            hljs.highlightBlock(block);
            });
        });
    </script>
    <!-- Custom Theme JavaScript -->
    {% block js %}
    {% endblock %}
    </body>
</html>